@use '@carbon/styles/scss/themes' as themes;
@use '@carbon/styles/scss/theme' with (
  $theme: themes.$g90
);
@use '@carbon/react/scss/components';
@use 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body,
button {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@layer utilities {
  .clip-angled-corners {
    clip-path: polygon(
      0 0,
      calc(100% - 12px) 0,
      100% 12px,
      100% 100%,
      12px 100%,
      0 calc(100% - 12px)
    );
  }
}

.Panel__Loading {
  width: 100%;
  height: auto;
  min-height: 200px;
}

gmp-map-3d {
  min-height: 300px;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  z-index: 1;
}

.Tile {
  &__Map {
    padding: 0;
  }
}
